    .card{
    position: relative;
    top: 147px;
    width: 600px;
    height: 500px;
    margin: auto;
    border-radius: 50px;
    }
    .card-header{
        height: 130px;
        align-content: center;
        font-family: cursive;
        font-size: xx-large;
    }
    .card-body{
       
    }
    .list-group-item{
    height: 150px;
    align-content: center;
    }