    .card{
    position: relative;
    top: 147px;
    width: 600px;
    height: 500px;
    margin: auto;
    border-radius: 50px;
    }
    .card-header{
        height: 130px;
        align-content: center;
        font-family: cursive;
        font-size: xx-large;
    }
    .card-body{
       
    }
    .list-group-item{
    height: 150px;
    align-content: center;
    }
    .loginContainer{
        
        border: 1px solid black;
        display: flex;
        width: 100vw;
        height: 100vh;
        justify-content: center; 
         align-items: center;
    
    }
    .loginform{

        border: 1px solid; 
        padding: 50px;
        height: max-content;
        width: 360px;
        box-shadow: 1px -1px 10px black;
    }